.shark{
    font-size: 30px;
}
.cislo{
    font-size: 30px;
}
.konfeta{
    font-size: 30px;
}
.palka{
    font-size: 30px;
}
.klybnika{
    font-size: 30px;
}
.gummy_bear{
    font-size: 30px;
}
.chervi{
    font-size: 30px;
}
.cisla_mr{
    font-size: 30px;
}
.cherep{
    font-size: 30px;
}
.colechki{
    font-size: 30px;
}
.igotki{
    font-size: 30px;
}
.jvachka{
    font-size: 30px;
}